<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <%= render 'layouts/error' %>
      <h2>Try the <%=@account.plan.capitalize %> Plan</h2>
      <h2>Free for a 30 Day Trial</h2>
    </div>

    <%= form_for @account, builder: BasicFormBuilder do |f| %>
      
      <%= f.hidden_field :plan, value: @account.plan %>
          <%= f.text_field :name, label: "Your Company or Organization", autofocus: true %>

      <% unless current_user %>
        <%= f.fields_for :owner do |o| %>
            <%= o.hidden_field :provider, value: @account.owner.provider %>
            <%= o.hidden_field :uid, value: @account.owner.uid %>
            <%= o.text_field :first_name, label: "First Name" %>
            <%= o.text_field :last_name, label: "Last Name" %>
            <%= o.text_field :email %>
            <% if o.object.password_required? %>
              <%= o.password_field :password %>
              <%= o.password_field :password_confirmation %>
            <% end %>
        <% end %>
      <% end %>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>